/* Add your custom styles here */
*{
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  background-image: url(img/large.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 90vh;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}

.container h1 {
  display: contents;
/*   width: 0 auto; */
}

#hero {
  color: #fff;
  padding: 100px;
  text-align: center;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

#features {
  margin-top: 50px;
}

#features h1,h2,h3{
  color: #fff;
}

#features p{
  color: #fff;
}

.feature .fas fa-fas{
  color: #fff;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature i {
  font-size: 48px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.school{
  color: #fff;
  margin: auto 2vw;
}

.terms{
  color: #fff;
}

button {
  padding: 5px 10px;
  background-color: rgba(0, 0, 255, 0.555);
  color: #ffffff;
}

.container1{
  color: #fff;
}

/* Mobile touch-friendly styles */
@media (max-width: 768px) {
  .container {
    max-width: 100vw;
    margin: auto;
  }

  .container1{
    color: #fff;
  }

  main {
    background-image: url(img/large.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
    padding: 20px;
  }

  .button {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
  }

  #hero h1 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #hero p {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
