/* Add your custom styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}

service-grid{
  display: grid;
}

img {
  max-width: 300px;
}

p {
  max-width: 100px;
}

.container{
  max-width: 969px;
  margin: 0 auto;
}

.container p {
  font-size: x-large;
  display: inline;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: block;
}
  
a button {
  background-color: blue;
  color: white;
  border: none;
}
  
