.ad-container {
  width: 100%; /* Set the width of the ad container */
  overflow: hidden;
  position: relative;
}

.ad-slide {
  display: none;
  text-align: center;
}

.ad-slide img {
  max-width: 100%;
  height: 10rem;
}

.bottom-link:hover{
  color: orange;
  transition: ease-in-out 0.9s;
}

/* Styles for screens smaller than 768px (typical mobile phones) */
@media only screen and (max-width: 767px) {
  /* CSS styles to apply */
  .ad-container{
    display: none;
  }
  .ad-slide{
    display: none;
  }
  .ad-slide img{
    display: none;
  }
}